
<h1>Create an account</h1>
  <div class="panel panel-default" style="width: 50%; padding: 0 25px;">  
    
    <%= bootstrap_nested_form_for(resource, as: resource_name, url: user_registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <h3>User Info</h3>
        <!-- fields for User object -->
        <%= f.text_field :username, autofocus: true %>
        <%= f.email_field :email %>
        <%= f.password_field :password , autocomplete: "off"%>
          <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>

        <!-- fields for Customer object -->
        <%= f.fields_for :customer do |customer_fields| %>
          <%= customer_fields.text_field :title %>
          <%= customer_fields.text_field :firstname %>
          <%= customer_fields.text_field :lastname %>
          <%= customer_fields.text_field :phone1 %>
          <%= customer_fields.text_field :phone2 %>
        <% end %>
          
        <!-- fields for Account object -->
        <%= f.fields_for :account do |account_fields| %>
          <%= account_fields.text_field :acct_type %>
        <% end %>

        <!-- fields for Address object -->
        <%= f.fields_for :address do |address_fields| %>
          <%= address_fields.text_field :address1 %>
          <%= address_fields.text_field :address2 %>
          <%= address_fields.text_field :zip_code %>
        <% end %>
      <br />
      <div class="actions">
        <%= f.submit "Create My Account", :class => "btn btn-info" %>
      </div>
      <% end %>
  </div>
</div>