<!-- 	Barnabas Bulpett
		WEB-289-YD1
		Spring 2015
		help.html.erb
-->
<!-- Static view describing help-related information -->
<h1>We're Here To Help</h1>
<div id="panel">
	<div class="panel-body">
		<h2>General Help Topics</h2>
		<article>
			<p><%= FFaker::BaconIpsum.paragraph %></p>
			<ul>
				<li><a href="#"><%= FFaker::BaconIpsum.sentence %></a></li>
				<li><a href="#"><%= FFaker::BaconIpsum.sentence %></a></li>
				<li><a href="#"><%= FFaker::BaconIpsum.sentence %></a></li>
				<li><a href="#"><%= FFaker::BaconIpsum.sentence %></a></li>
			</ul>
		</article>
		<h2>Frequently Asked Questions (FAQ)</h2>
		<article>
			<p><%= FFaker::BaconIpsum.paragraph %></p>
			<ul>
				<li><a href="#"><%= FFaker::BaconIpsum.sentence %></a></li>
				<li><a href="#"><%= FFaker::BaconIpsum.sentence %></a></li>
				<li><a href="#"><%= FFaker::BaconIpsum.sentence %></a></li>
				<li><a href="#"><%= FFaker::BaconIpsum.sentence %></a></li>
			</ul>
		</article
	</div>
</div>