<div class="jumbotron">
  <h1>We're Here To Help</h1>
</div>
<article style="width: 88%; margin: 0 auto;">
		<h4><%= Faker::HipsterIpsum.paragraph %></h4>
		<h4><%= Faker::HipsterIpsum.paragraph %>
			<%= Faker::HipsterIpsum.paragraph %></h4>
		<h4><%= Faker::HipsterIpsum.paragraph %>
			<%= Faker::HipsterIpsum.paragraph %></h4>
</article>