<aside class="actionPanel">
  <h1>Let's do this!</h1>
  <p>
  	<% if user_signed_in? %>
  	<h4>You're already signed in, <%= current_user.username %>. Would you like to</h4>
      <% unless current_user.role == 'admin' %>
       <span role=button><%= link_to "View Your Accounts?", accounts_path(current_user), :class => "btn btn-warning btn-lg" %></span>
      <% else %>
      <span role=button><%= link_to 'Continue to Administrator Dashboard', adminview_administrator_path(current_user), :class => 'btn btn-warning btn-lg' %></span>
      <% end %>
    	<h4>or</h4>
  	<span role=button><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-danger btn-lg" %></span>
  	<% else %>
  	<span role=button><%= link_to "Sign in", new_user_session_path, :class => "btn btn-success btn-lg" %></span>
  	<span role=button><%= link_to "Create an Account", new_user_registration_path, :class => "btn btn-primary btn-lg" %></span>
  	<% end %>
  </p>
</aside>
<div id="homeCarousel" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homeCaorusel" data-slide-to="0" class="active"></li>
    <li data-target="#homeCaorusel" data-slide-to="1"></li>
    <li data-target="#homeCaorusel" data-slide-to="2"></li>
    <li data-target="#homeCaorusel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h1>This is Slide #1</h1>
      <p>Some great stuff will happen here</p>
    </div>
    <div class="item">
      <h1>This is Slide #2</h1>
      <p>More great stuff will happen here</p>
    </div>
    <div class="item">
      <h1>This is Slide #3</h1>
      <p>Even more great stuff will happen here</p>
    </div>
    <div class="item">
      <h1>This is Slide #4</h1>
      <p>Awesome stuff will happen here</p>
    </div>
  </div>

  <!-- Left and right controls -->
<!--   <a class="left carousel-control" href="#homeCaorusel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#homeCaorusel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>

