<!-- 	Barnabas Bulpett
		WEB-289-YD1
		Spring 2015
		_navigation.html.erb
-->
<!-- Partial view for global site navigation -->
<nav class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%= image_tag 'capstone-decal.png'%>
	      <%= link_to "Capstone Savings Bank", root_path, :class => "navbar-brand" %>
	      <!-- <a class="navbar-brand" href="#">Capstone Savings Bank</a> -->
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav nav-pills pull-right">
	        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
	        <li><%= link_to "Home", root_path, :class => "btn btn-default" %></li>
	        <li><%= link_to "About", home_about_path, :class => "btn btn-default" %></li>
	        <li><%= link_to "Help", home_help_path, :class => "btn btn-default" %></li>
	        <li>&nbsp;&nbsp;&nbsp;</li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	          	<form class="settings-form">
		          	<li><em>Change theme</em></li>
		          	<li><input type="submit" onclick="change_theme('tranquil_mountain');return false;" name="theme" value="Tranquil Mountain" id="tranquil_mountain" style="color:#1F3D00;"></li>
					<li><input type="submit" onclick="change_theme('tropical_shores');return false;" name="theme" value="Tropical Shores" id="tropical_shores" style="color:#006B6B"></li>
					<li><input type="submit" onclick="change_theme('winter_sunrise');return false;" name="theme" value="Winter Sunrise" id="winter_sunrise" style="color:#4C1A80"></li>
				</form>
	            <li class="divider"></li>
	            <li><em>Select language</em></li>
	          	<div style="background: #FFF;padding: 5px;">
		            <li><a href="#">English (default)</a></li>
		            <li><a href="#">Spanish</a></li>
		            <li><a href="#">Chinese</a></li>
		        </div>
	          </ul>
	        </li>
<!-- 	      </ul>
 -->	      <!-- <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form> -->
<!-- 	      	<ul class="nav nav-pills pull-right">
 -->			  <% if user_signed_in? %>
			  	<li role="presentation" class="header-message">Signed in as <strong><%= current_user.username %></strong></li>
			    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-danger" %></li>
			  <% else %>
			    <li><%= link_to "Sign in", new_user_session_path,:class => "btn btn-success" %></li>
			    <li><%= link_to "Sign up", new_user_registration_path, :class =>"btn btn-primary"%></li>
			  <% end %>
			<!-- <li><a href="#">Link</a></li> -->
	        <!-- <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	          </ul>
	        </li> -->
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
</nav>
