<nav class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%= image_tag 'capstone-decal.png', :style => "float: left; height: 50px; overflow: visible; margin: 0 15px; padding: 0;"%>
	      <%= link_to "Capstone Savings Bank", root_path, :class => "navbar-brand" %>
	      <!-- <a class="navbar-brand" href="#">Capstone Savings Bank</a> -->
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
	        <li><a href="/">Home</a></li>
	        <li><a href="/home/about.html">About</a></li>
	        <li><a href="/home/help.html">Help</a></li>

	       <!--  <li class="dropdown"> -->
	          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li> -->
	      </ul>
	      <!-- <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form> -->
<!-- 	      <ul class="nav navbar-nav navbar-right">
 -->	      	<ul class="nav nav-pills pull-right">
			  <% if user_signed_in? %>
			  	<li role="presentation" class="header-message">Signed in as <strong><%= current_user.username %></strong></li>
			    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-danger" %></li>
			  <% else %>
			    <li><%= link_to "Sign in", new_user_session_path,:class => "btn btn-success" %></button></li>
			    <li><%= link_to "Sign up", new_user_registration_path, :class =>"btn btn-primary"%></button></li>
			  <% end %>
			<!-- <li><a href="#">Link</a></li> -->
	        <!-- <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	          </ul>
	        </li> -->
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
</nav>
