<!DOCTYPE html>
<html>
<head>
  <title>Capstone v1.5.3</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'capstone_icon.png' %>
</head>
<body>
	<!-- render main navigation partial -->
	<%= render 'navigation' %>
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<main>
		<!-- render "Admin-only" navigation partial -->
		<%= render partial: 'admin_navigation' %>
		<div id="admin_content">
			<% if content_for?(:admin_content) %>
				<%= yield(:admin_content) %>
			<% else %>
				<h3>Welcome to the Administrators Dashboard</h3>
				<p>Please select an action above to get started</p>
			<% end %>
		</div>
	</main>
	<!-- render footer partial -->
	<%= render 'footer' %>
</body>
</html>
