<h1>My Accounts</h1>
<% if @accounts.count > 0 %>
  <table id="indexTable" class="table table-striped">
    <thead>
      <tr>
        <th>Account Number</th>
        <th> </th>
        <th>Balance</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      
        <% for account in @accounts do %>
        <tr>
          <td><%= '%012d' % account.id %></td>
          <td></td>
          <td><%= number_to_currency(account.balance)%></td>

          <td><%= link_to 'Show', account %></td>
          <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure you want to delete this account?' } %></td>
        </tr>
        <% end %>
      
    </tbody>
  </table>
<% else %>
      <div class="jumbotron" style="text-align: center; border: 1px solid #DDD; border-radius: 8px;">
      <h1>No accounts to display</h1>
      </div>
<% end %>

<br>

<%= link_to 'Add a New Account', new_account_path, :class => "btn btn-primary"  %>
