<h1>My Accounts</h1>
<% if @accounts.count > 0 %>
<main>
  <table id="indexTable" class="table table-striped">
    <thead>
      <tr>
        <th>Account Number</th>
        <th>Type</th>
        <th>Balance</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>

    <tbody>
        <!-- Iterate through accounts and display info and actions -->
        <% for account in @accounts do %>
        <tr>
          <td><%= '%012d' % account.id %></td>
          <td><%= AcctType.find(account.acct_type_id).name %></td>
          <td><%= number_to_currency(account.balance)%></td>
          <!-- Action links -->
          <td><%= link_to 'Deposit', new_account_acct_transactions_path(:account_id => account.id, :transaction_type_id => 3), :class => "btn btn-default" %>
          <td><%= link_to 'Withdraw', new_account_acct_transactions_path(:account_id => account.id, :transaction_type_id => 7), :class => "btn btn-default" %>
          <td><%= link_to 'Show', account, :class => "btn btn-default" %></td>
          <td><%= link_to 'Close Account', account, method: :delete, data: { confirm: 'Are you sure you want to close this account?' } %></td>
        </tr>
        <% end %>
      
    </tbody>
  </table>
</main>
<% else %>
      <div class="jumbotron" style="text-align: center; border: 1px solid #DDD; border-radius: 8px;">
      <h1>No accounts to display</h1>
      </div>
<% end %>

<br>
<div id="links-block">
<%= link_to 'Add a New Account', new_account_path, :class => "btn btn-primary"  %>
</div>